<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBE3TDrhO4lAXMU2-dVg8g0iPRdKjU9ZbA</string>
	<key>GCM_SENDER_ID</key>
	<string>114826548102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.RNModulesPractice</string>
	<key>PROJECT_ID</key>
	<string>rnfirestoreapp-c322c</string>
	<key>STORAGE_BUCKET</key>
	<string>rnfirestoreapp-c322c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:114826548102:ios:8fc60440c3a80566cfd207</string>
</dict>
</plist>